[Unit]
Description=Automatically connect to a VPN Gate server (nm-vpngate)
Documentation=https://github.com/Hayao0819/nm-vpngate
Wants=network-online.target NetworkManager.service
After=network-online.target NetworkManager.service
ConditionFileIsExecutable=/usr/bin/nm-vpngate

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nm-vpngate -a -l 5
ExecStop=/usr/bin/nm-vpngate --stop
TimeoutStartSec=10min
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
